spring:
  datasource:
    url: jdbc:postgresql://db:5432/pfdb
    username: pfuser
    password: pfpassword
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

cors:
  origin: http://localhost:5173
